$default-font: "ubuntu", sans-serif
$accent: #337ab7
$accentBg: #D7E0EC
$dark-blue: #080e2b
$attention: #fe1f04
$success: #0a891c
$second: #ffbf00
$text: #7f7f7f
$light-grey: #f0f0f0

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
